.photo-search-bar {
    height: 40px;
    display: flex;
    color: var(--dsc-color-font-primary);
  }

  .photo-search-bar button {
    border: 1px solid var(--dsc-color-card-border);
  }
  
  .photo-search-bar input {
    width: calc(100% - 80px);
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--quinary-color);
    border-bottom: 1px solid var(--quinary-color);
    padding: 0 10px;
    font-size: 16px;
    color: black;
    background-color: var(--quaternary-color);
  }
  
  .photo-search-bar input:focus {
    outline: none;
  }
  
  .photo-search-bar input::placeholder {
    color: rgb(116, 99, 99);
  }
  
  .photo-search-bar button {
    width: 40px;
    font-size: 20px;
  }
  
  .photo-search-bar button[type="submit"] {
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: var(--tertiary-color);
  }
  
  .photo-search-bar button[type="reset"] {
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: var(--tertiary-color);
    padding-bottom: 4px;
  }