.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

:root {
  --bg-color: #f4f4f4;
  --primary-color: #407fd1;
  --secondary-color:#328a8d;
  --tertiary-color:  rgb(207, 229, 207);
  --quaternary-color: rgb(250, 242, 250);
  --quinary-color: rgb(158, 147, 147);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: #040404;
}