#photo {
    padding: 20px 0;
}

.photo-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    min-height: 500px;
}

a {
    text-decoration: none;
    color: white;
}

.not-found {
    color: black;
    font-size: 2rem; 
    margin-top: 20px;
    margin-left: 50px;
    height: 100vh;
}